* {
    margin: 0;
    padding: 0;
}

div {
    border: 0px solid black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>a {
    color: #00BC70;
    /* 이니스프리 컬러 */
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;

    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.search>div {
    /* 아래쪽에만 테두리 주기 */
    border-bottom: 2px solid black;
    width: 500px;
    display: flex;

}

.search input {
    width: 80%;
}

.search a {
    width: 20%;
}

.menu>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.item-box {
    display: flex;
    justify-content: space-around;
}

.item {
    /* border나 margin 넣는 만큼 width에서 빼준다. */
    width: calc(100%/3 - 10px);
    height: 400px;
    box-shadow: 2px 2px 4px 2px #dddddd;
}

.item>div:nth-child(1) {
    height: 60%;
    display: flex;
    justify-content: center;
}

.item>div:nth-child(2) {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;

}

.footer {
    display: flex;
}

.footer>div {
    width: 50%;
}